/data/imported/data
.Rproj.user
.Rhistory
.RData
.Ruserdata
tier-template.Rproj
README.html
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/townssurvey_shp/TOWNSSURVEY_POLY.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R06C18/LCLU_R06C18.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R06C19/LCLU_R06C19.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R06C20/LCLU_R06C20.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R07C18/LCLU_R07C18.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R07C19/LCLU_R07C19.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R07C20/LCLU_R07C20.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R08C18/LCLU_R08C18.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R08C19/LCLU_R08C19.shp
/Users/isaiahd12/Documents/dsc210_welfare_proj/Environmental_welfare_proj_boston/data/imported_data/LCLU_R08C20/LCLU_R08C20.shp
